* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #1b3141;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:  "Gill Sans", sans-serif;
  }

  .BackgroundImage{
    display: none;
  }

  body {
    font-family: "Noto Sans", sans-serif;
    line-height: 1.6;
    background-image: url('images/bgbb.jpg');
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0;
  }

  img{
    max-width: 100%;
  }

  header .Title {
    flex: 1;
  }

  header h1 {
    margin: 0;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline;
    margin-left: 50px;
    font-weight: bold;
    font-size: 20px;
  }

  nav a {
    text-decoration: none;
    color: #fff;
  }

  footer {
    background-color: #1b3141;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    font-weight: bold;
  }

  footer div:last-child {
    text-align: right;
  }

  footer a {
    color: #fff;
  }

  .Stats {
    margin-top: 350px;
    padding-top: 350px;
}
  .skip-link{
    visibility: hidden;
}

.skip-link:hover{
    visibility: visible;
}