* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }

  /* Header styles */
  header {
    background-color: #333;
    color: #fff;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .Title {
    flex: 1;
  }

  header h1 {
    margin: 0;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav li {
    display: inline;
    margin-left: 50px;
    font-weight: bold;
  }

  nav a {
    text-decoration: none;
    color: #fff;
  }

  /* Main content styles */
  main {
    padding: 20px;
  }

  .IntroBlurb {
    margin-bottom: 20px;
  }

  .IntroBlurb h2 {
    color: #333;
  }

  .InteractiveMap {
    margin-bottom: 20px;
  }

  .NPChecklist1-20,
  .NPChecklist21-40,
  .NPChecklist41-61 {
    margin-bottom: 20px;
  }

  .NPChecklist1-20 h2,
  .NPChecklist21-40 h2,
  .NPChecklist41-61 h2 {
    color: #333;
  }

  .NPChecklist1-20 ul,
  .NPChecklist21-40 ul,
  .NPChecklist41-61 ul {
    list-style-type: none;
    padding: 0;
  }

  .NPChecklist1-20 li,
  .NPChecklist21-40 li,
  .NPChecklist41-61 li {
    margin-bottom: 5px;
  }

  .NPChecklist1-20 li strong,
  .NPChecklist21-40 li strong,
  .NPChecklist41-61 li strong {
    color: #333;
  }

  .NPChecklist1-20 li span,
  .NPChecklist21-40 li span,
  .NPChecklist41-61 li span {
    color: green;
    margin-left: 5px;
  }

  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer div:last-child {
    text-align: right;
  }

  footer a {
    color: #fff;
    text-decoration: none;
  }

  .skip-link{
    visibility: hidden;
}

.skip-link:hover{
    visibility: visible;
}